-- create a new database called Skippy then run this script
Use master
GO

create database [Skippy]
GO

USE [Skippy]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 11/02/2016 11:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Person]    Script Date: 11/02/2016 11:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[PersonDepartmentListView]    Script Date: 11/02/2016 11:49:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[PersonDepartmentListView]
AS
SELECT dbo.Person.Id, 
dbo.Person.Name, 
dbo.Person.DateOfBirth,
CONVERT(varchar(10), CONVERT(date, dbo.Person.DateOfBirth, 106), 103) AS DateOfBirthFormatted,
dbo.Department.Name AS DepartmentName,
CONVERT(varchar(10), dbo.Person.Id) + ' ' + dbo.Person.Name + ' ' + CONVERT(varchar(10), CONVERT(date, dbo.Person.DateOfBirth, 106), 103) + ' ' + dbo.Department.Name AS SearchString
FROM  dbo.Person INNER JOIN
       dbo.Department ON dbo.Person.DepartmentId = dbo.Department.Id



GO
INSERT [dbo].[Department] ([Id], [Name]) VALUES (1, N'Finance')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (2, N'IT')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (3, N'Operations')
INSERT [dbo].[Person] ([Id], [Name], [DateOfBirth], [DepartmentId]) VALUES (1, N'Elizabeth Smith', CAST(N'1976-03-02 00:34:23.000' AS DateTime), 2)
INSERT [dbo].[Person] ([Id], [Name], [DateOfBirth], [DepartmentId]) VALUES (2, N'Wayne Mcdonald', CAST(N'1982-02-05 14:11:14.000' AS DateTime), 3)
INSERT [dbo].[Person] ([Id], [Name], [DateOfBirth], [DepartmentId]) VALUES (3, N'Rachel Schmidt', CAST(N'1953-03-31 20:20:54.000' AS DateTime), 1)
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Department]
GO
